.header{
    text-align: center;
    margin-bottom: 30px;
}
.main{
display: flex;
}
#fom{
    text-align: center;
}
#expense{
    border: 0ch;
    outline: none;
}
#balance{
    border: 0ch;
    outline: none;
}
#expenses{
    margin-left: 100px;
}
#balances{
    margin-left: 100px;
}